/* ===================================
    Google font
====================================== */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700');
@import url('https://fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,600,700');

html {
    scroll-behavior: smooth;
}

.container{
    background-color: black;
}
.contain1{
    display: flex;
    align-items: center;
    justify-content: center;
}
.contain3a .btn_diskon {
    position: absolute;
}
.btn_diskon{
    margin-bottom: 30px;
    bottom: 0;
}
form {
    background-color: #fff;
    margin: auto;
    padding: 25px;
}
.contain2{
    display: flex;
    align-items: center;
    justify-content: center;
}
.contain3{
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.contain3a{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.contain3b{
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.contain4{
    display: flex;
    align-items: center;
    justify-content: center;
}
.contain5{
    display: flex;
    align-items: center;
    justify-content: center;
}
.contain6{
    display: flex;
    align-items: center;
    justify-content: center;
}
.panah{
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer{
    display: flex;
    align-items: center;
    justify-content: center;
}
.medsos{
    display: flex;
    align-items: center;
    justify-content: center;
}


@media screen and (max-width: 991px){

    .contain1 img{
        max-width: 900px;
    }
    .contain2 img{
        max-width: 900px;
    }
    .contain3 img{
        max-width: 900px;
    }
    .contain3a img{
        max-width: 900px;
    }
    .contain3b img{
        max-width: 900px;
    }
    .contain4 img{
        max-width: 900px;
    }
    .contain5 img{
        max-width: 900px;
    }
    .contain6 img{
        max-width: 900px;
    }
    .panah img{
        max-width: 900px;
    }
    .footer img{
        max-width: 900px;
    }

}

@media screen and (max-width: 768px){
    
    .contain{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .contain1 img{
        max-width: 380px;
        
    }
    .contain2 img{
        max-width: 380px;
        
    }
    .contain3 img{
        max-width: 380px;
        
    }
    .contain3a img{
        max-width: 380px;
        
    }
    .contain3b img{
        max-width: 380px;
        
    }
    .contain4 img{
        max-width: 380px;
        
    }
    .contain5 img{
        max-width: 380px;
        
    }
    .contain6 img{
        max-width: 380px;
        
    }
    form {
        max-width: 380px;
    }
    .panah img{
        max-width: 380px;
    }
    .footer img{
        max-width: 380px;
        
    }
}